@font-face {
    font-family: "Press-Start";
    src: url('../font/PressStart2P-Regular.ttf');
   }
@font-face{
    font-family:"NeoGrey";
    src: url('../font/NeogreyRegular.otf')
}


html{
    display: flex;
    justify-content: space-around;

}

body{
    background-color: #cd1934;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    width: 100vh;
    height: 100vh;

}
section{
    background-color:#4e0823c2;
    padding:0.5em;
    height: 70%;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: inset -1px 3px 5px 2px #20022096;

}

header{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 1em;
    font-family:"NeoGrey";
    letter-spacing: 0.5em;
    color: #200220d6;
    text-shadow: -1px 1px #ff4e69;
}

.LED{
    width: 3em;
    height: 3em;
    border-radius: 10em;
    border: solid;
    border-width: 0.35em;
    border-color: #0d0a4f;
    background-color: #ffffff;
    margin-right:1em;
    box-shadow: inset 4px -5px 0px 0px rgba(38,4,38,0.59), inset 9px -10px 0px 19px #01dbff;
}



#pokemon{
    background-color:#1eac65;;
    background-image: linear-gradient(transparent 18%, #7fd22452 22%);
    background-size: 50px 4px;
    border:solid;
    border-color: floralwhite;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    height: 15em;
    border-radius: 0.5em 0.5em 0.5em 3.5em;
}

.welcome{
    font-family:"Press-Start";
    text-align: center;
    color: #1f4d21;
}
.name{
    position: relative;
    top: 2em;
    color: floralwhite;
    font-family: "Press-Start";
}

.imgPokemon{
    width: 15em;
}




#searchField{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}

input{
    text-align: center;
    font-family: "Press-Start";
    font-size: 1em;
    color: floralwhite ;
    width: 90%;
    height: 2em;
    border-radius: 0.5em;
    border: solid;
    border-width:2px;
    padding: 0;
    background-color: #0d0a4f;
    margin-bottom: 1em;
}
input::placeholder{
    font-size: 0.7em;
    color: floralwhite;
    text-align: center;
}

button{
    color:#252919;
    font-family: "NeoGrey";
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #43bb2a;
    text-shadow: -1px 1px #baff86;
    height: 3em;
    width: 90%;
    border-radius: 0.5em;
    border: solid;
    border-width: 2px;
    border-color: #200220db;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ inset 0 1px 1px rgba(255,255,255,0.8);
}

footer{
    font-family: "Press-Start";
    font-size: 0.5em;
    padding: 0.5em;
    color: floralwhite;
    text-align: center;
    background-color:  #140205; 
    height: 1em;
}